
/* id selectors */

#title {
    background-color: #fa3c59;
    height: 800px;
}

.container-fluid {
    padding: 5% 15%;
}

.container {
    padding: 6% 2% 6% 2%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    line-height: 1.5;
    color: white;
}

.icon  {
    color: #ef8172;
    margin-bottom: 15px;
}
.icon:hover {
    color: #ff4c68;
    
}

.feature-box{
    text-align: center;
    padding:5%;
    
}

p {
    color: #8f8f8f;
}

h3 {
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.h1-heading {
    font-size: 50px;
    margin-bottom: 50px;
}


button {
    margin-right: 20px;
}

.navbar {
    font-size: 20px;
}

.nav-item {
    margin-left: 30px;
}

.navbar-brand {
    font-family:  'ubuntu', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    
}

.piedpiper-btn  {
    
    background-color: rgb(4, 182, 4);
}

.dog-img {
    width: 270px;
    transform: rotate(20deg);

}


.container-fluid {
    margin-top: -40px;
}

.navbar navbar-expand-lg navbar-dark {
    margin-bottom: 300px;
}