
/* id selectors */

#title {
    background-color: #fa3c59;
    height: 600px;
}

.container-fluid {
    padding: 5% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    size: 3em;
    line-height: 1.5;
    color: white;
}

.h1-heading {
    font-size: 50px;
    margin-bottom: 50px;
}


button {
    margin-right: 20px;
}

.navbar {
    font-size: 20px;
}

.nav-item {
    margin-left: 30px;
}

.navbar-brand {
    font-family:  'ubuntu', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    
}

.piedpiper-btn  {
    
    background-color: rgb(4, 182, 4);
}

.dog-img {
    width: 270px;
    transform: rotate(20deg);

}


.container-fluid {
    margin-top: -40px;
}

.navbar navbar-expand-lg navbar-dark {
    margin-bottom: 300px;
}