
/* id selectors */

#title {
    background-color: #fa3c59;
    height: auto;
}

.container-fluid {
    padding: 5% 15%;
}

.container {
    
    padding: 8% 6% 7% 6%;
}

.btn-outline-dark {
    color: #ef8172;
    background-color: transparent;
    background-image: none;
    border-color: #ef8172;
}

.carousel-item {
    padding: 2% 8% 2% 8%;
}

#features {
    background-color: white;
    position: relative;
}

#cta {
    text-align: center;
    background-color: #fa3c59;
    height: auto;


}

#footer {
    text-align: center;
    background-color: white;
}


.dog-img {
    width: 270px;
    transform: rotate(20deg);
    position: absolute;
    right: 21%;
}

#testimonials {
    text-align: center;
    
    background-color: #ef8172;
    color: #fff;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 4%;
}

.pricing-column {
    text-align: center;
    padding: 3% 2%;
}

.press-img {
    margin: 20px 20px 50px;
    width: 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    line-height: 1.5;
    color: white;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.icon  {
    color: #ef8172;
    margin-bottom: 15px;
}
.icon:hover {
    color: #ff4c68;
    
}

.feature-box{
    text-align: center;
    padding:2.6rem;
    
}

p {
    color: #8f8f8f;
}

h3 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.h1-heading {
    font-size: 50px;
    margin-bottom: 50px;
}

.h2-heading { 
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}


button {
    margin-right: 20px;
  
}

.navbar {
    font-size: 20px;
}

.nav-item {
    margin-left: 30px;
}

.navbar-brand {
    font-family:  'ubuntu', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    
}

.piedpiper-btn  {
    
    background-color: rgb(4, 182, 4);
}

.footer-icon {
    margin: 0px 8px 15px 8px; 
}




.container-fluid {
    margin-top: -40px;
}

.navbar navbar-expand-lg navbar-dark {
    margin-bottom: 300px;
}



@media (max-width: 1028px) {
    #title {
        text-align: center;
        
    }

    .dog-img {
        /* display:none; */
        margin-top: 50px;
        position: static;
        transform: rotate(0);
        
    }

    #features {
        background-color: white;
        position: static;
    }

    button {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    
}